# --------------------------------
# Application .gitignore
# --------------------------------
# This file is responsible for ignoring certain files into your application source control (GIT)
# By default Glowie ignores the application config file (for containing sensitive data), temporary files and Composer packages

app/config/Config.php
app/storage/cache/*
!app/storage/cache/.gitkeep
app/storage/session/*
!app/storage/session/.gitkeep
app/storage/error.log
/vendor/
composer.lock