# --------------------------------
# Application .htaccess
# --------------------------------
# This file is responsible for redirecting all URI requests to Glowie router.
# Here you can also set the current active configuration environment.

SetEnv GLOWIE_ENV development

# ------------------------------------------------------------------------------
# We do not recommend editing below this line unless you know what you're doing.
# ------------------------------------------------------------------------------

Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=$1 [NC,L,QSA]